/**
*Those Vars
*/

.form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 10em;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 55px 55px 20px;
  background: #fff;
  box-shadow: 0 0 9px 2px #dddddd;
}

.form-bottom {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.footer-links:hover {
  text-decoration: underline;
}
