.login-container {
  position: relative;
  margin: auto;
  width: 430px;
  height: 420px;
  top: 40px;
  z-index: 200;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
}

.login-container .header__login-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70px;
}

.login__header {
  background-color: #8470FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 70px;
}

.form {
  margin: 30px 55px 20px;
}

.form-bottom {
  margin-top: 50px;
  text-align: center;
}

.footer-links {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.footer-links__item {
  margin-bottom: 5px;
}

.footer-links__item:hover {
  text-decoration: underline;
}

