/**
*Those Vars
*/

.form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 10em;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 55px 55px 20px;
  background: #fff;
  box-shadow: 0 0 9px 2px #dddddd;
}
.form label {
  display: block;
  text-align: left;
  color: #333;
  font-size: .875em;
}
.form form .text-input {
  overflow: hidden;
  margin-bottom: .875em;
}
.form form input[type="text"],
.form form input[type="password"] {
  width: 100%;
  padding: 1em 0 12px;
  padding-left: 0;
  background: none;
  color: #333;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #999;
  /*Some sibling magic happens */
}
.form form input[type="text"]:focus + .separator,
.form form input[type="password"]:focus + .separator {
  transition: transform 0.2s ease-in-out;
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}
.form form input[type="submit"] {
  color: white;
  background: #8470FF;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
}

.form form input[type="submit"]:hover {
  background-color: #7b66f9
}

.form form input[type="submit"]:disabled {
  background-color: #b0a4f9;
  opacity: .5
}

.separator {
  height: 1px;
  width: 100%;
  background: #8470FF;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all 0.15s linear;
}

/**
* Form Reset - remove focus highlighting
*/
* :focus {
  outline-color: transparent;
  outline-style: none;
}

body {
  background: #f7f7f7;
}
body a {
  color: #8470FF;
  font-size: 1em;
  text-decoration: none;
}

.form-bottom {
  margin-top: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.footer-links:hover {
  text-decoration: underline;
}
