.text-input {
  overflow: hidden;
  margin-bottom: .875em;
}

.form label {
  display: block;
  text-align: left;
  color: #333;
  font-size: .875em;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px 0 12px;
  padding-left: 0;
  background: none;
  color: #333;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #999;
  /*Some sibling magic happens */
}

input[type="text"]:focus + .separator,
input[type="password"]:focus + .separator {
  transition: transform 0.2s ease-in-out;
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}

.separator {
  height: 1px;
  width: 100%;
  background: #8470FF;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all 0.15s linear;
}