textarea:focus, input:focus{
  outline: none;
}

.text-input {
  margin-bottom: 20px;
  position: relative;
}

.text-input input {
  padding: 10px 0;
}

.text-input.input-active .input-label{
  bottom: 35px;
  font-size: 12px;
  color: #2c6cc3;
  transition: all .2s;
}

.text-input .input-label {
  position: absolute;
  bottom: 10px;
  transition: all .2s;
}

input[type="date"],
input[type="text"],
input[type="password"] {
  width: 100%;
  color: #333;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #999;
}

input[type="date"]:valid + .separator,
input[type="date"]:focus + .separator,
input[type="text"]:focus + .separator,
input[type="text"]:valid + .separator,
input[type="password"]:focus + .separator,
input[type="password"]:valid + .separator {
  transition: transform 0.2s ease-in-out;
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}

.separator {
  height: 1px;
  width: 100%;
  background: #2c6cc3;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all 0.15s linear;
}