button {
  color: white;
  background: #8470FF;
  font-size: 22px;
  height: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
}

button:hover {
  background-color: #7b66f9
}

button:disabled {
  background-color: #b0a4f9;
  opacity: .5
}