button {
  color: white;
  background: #8470FF;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #7b66f9
}

button:disabled {
  background-color: #b0a4f9;
  opacity: .5
}