button {
  color: white;
  font-size: 22px;
  height: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  outline: none;
  width: 215px;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
  background: transparent;
  border: 1px solid #2c6cc3;
  color: #2c6cc3
}

button.default {
  font-size: 22px;
  background: transparent;
  height: 50px;
  border: 1px solid #2c6cc3;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 auto;
  color: #2c6cc3;
}

button.default:hover {
  background-color: #0951a3;
  color: #fff;
}

button.secondary {
  font-size: 22px;
  height: 50px;
  border: 1px solid #2c6cc3;
  border-radius: 30px;
  cursor: pointer;
  margin: 0 auto;
  color: #fff;
  background-color: #2c6cc3;
}

button.secondary:hover {
  background-color: #0951a3;
  color: #fff;
}

button.favicon {
  width: 50px;
  height: 50px;
  background-color: #2c6cc3;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button.favicon:hover {
  background-color: #0951a3;
}

button.loading {
  font-size: 0;
  cursor: not-allowed;
}

button.default.loading:before,
button.secondary.loading:before {
  content: '';
  margin: 0 auto;
  display: block;
  height: 18px;
  width: 18px;
  border: 2px solid #fff;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

button.default.loading:before {
  border-color: #2c6cc3;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

button.default.loading:hover {
  background-color: initial;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}