button {
  color: white;
  background: #2c6cc3;
  font-size: 22px;
  height: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
}

button:hover {
  background-color: #0951a3
}

button:disabled {
  background-color: #F6F6F6;
  color: #DDDCDC;
  cursor: not-allowed;
}

.favicon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.favicon:hover {
  box-shadow: rgba(0,0,0,0.19)
}